/*
    author : Yoshi Park
    introduction: this css is for tmnt.html
*/

body {
    background-image: url(../img/background.png);
    font-size: 8px;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(../img/bannerbackground.png);
    background-repeat: repeat-x;
    height: 50px;
}

h1 {
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 24pt;
    font-weight: bold;
}

.all {
    width: 800px;
    border: 4px solid gray;
    display: block;
    margin: auto;
    overflow: hidden;
}

.right_border {
    height: 100%;
    width: 250px;
    float: right;
    background-color: #A2B964;
}

.right_border_content {
    font-family: Arial, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 8pt;
}

.right_border_content dt {
    font-weight: bold;
    margin-top: 1em;
}

.review_content {
    width: 550px;
    overflow: hidden;
}

.review_flag {
    background-image: url(../img/rottenbackground.png);
    background-repeat: repeat-x;
    height: 83px;
}

.review_flag img {
    float: left;
    vertical-align: bottom;
}

.review_flag .percentage {
    color: red;
    font-size: 48pt;
    font-weight: bold;
    vertical-align: bottom;
}

.review_flag .total_reviews {
    color: white;
    font-size: 8pt;
    font-weight: lighter;
    vertical-align: 13px;
}

.column {
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 47%;
}

.info {
    width: 100%;
    margin-bottom: 3em;
}

.info img {
    float: left;
    margin-right: 5px;
}

.info p {
    line-height: 13px;
}

.info_box {
    font-size: 8pt;
    font-weight: bold;
    background-color: #E1D697;
    border: 2px solid gray;
    padding: 8px;
    overflow: hidden;
}

.info_box p {
    margin: 0;
}

.info_people {
    overflow: hidden;
}

.info_people .publisher {
    font-style: italic;
}

.footer {
    clear: right;
    padding: 5px;
    background-color: #A2B964;
    text-align: center;
}

.all_page {
    position: relative;
}

.two_end {
    position: absolute;
    bottom: 0;
    right: 0;
}
